<div class="container">
  <div class="chat">
    <ul class="messages"></ul>
    <form class="messageForm" action="">
      <input class="messageInput" autocomplete="off" /><button class="brn btn-primary btn-sm">Send</button>
    </form>
  </div>
</div>
