<h1 class="intro">{{title}}</h1>
<p>Welcome to {{title}}</p>

<a href='/new'>New Blog Post</a>

<div id="snippets">
  {{#each post}}
  <h2>{{this.title}}</h2>
  <p>{{this.content}}</p>
  {{/each}}
</div>
