<h4>Login:</h4>
<form class="form-horizontal" action="/login" method="POST">
  <fieldset>
    <div class="form-group">
      <!-- <label for="username" class="col-lg-2 control-label">Username</label> -->
      <div class="col-sm-6">
        <input type="text" name="username" class="form-control" id="username" placeholder="Enter username">
      </div>
    </div>

    <div class="form-group">
      <!-- <label for="password" class="col-lg-2 control-label">Password</label> -->
      <div class="col-sm-6">
        <input type="password" name="password" class="form-control" id="password" placeholder="Enter password">
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-6 col-lg-offset-2">
        <button type="submit" class="btn btn-default btn-sm">Submit</button>
      </div>
    </div>
  </fieldset>
</form>

<h5>Haven't registered yet? Register <a href="/register">here.</a></h5>
