body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.intro {
  font-size: 15vw;
  margin-bottom: 2vw;
}

.displayInline {
  display: flex;
  flex-direction: row;
}
.btn {
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}
legend {
  padding-top: 2vw;
}
