body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.intro {
  margin-bottom: 5vw;
}
.snippets {
  padding-bottom: 5vw;
}
.introTitle {
  font-size: 15vw;
  margin-bottom: 2vw;
}

.displayInline {
  display: flex;
  flex-direction: row;
}
.btn {
  margin-top: 1vw;
  margin-right: 1vw;
  margin-bottom: 1vw;
}

.commentSection {
  margin-bottom: 3vw;
}

legend {
  margin-top: 2vw;
  margin-bottom: 2vw;
}
h4 {
  margin-bottom: 2vw;
}
